@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Nunito&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}

body {
    padding-top: 90px;
}

.create-post {
  padding-top: 60px;
  padding-left: 30px;

}

.post {
  padding-top: 20px;
}

.content {
  padding: 15px;
}

.upvote {
  color: green;
}

.downvote {
  color: red;
}

.card {
  border: None;
}

nav {
  background-color: #4D8076;
}

.btn {
  background-color: #4D8076;
  border-color: #4D8076;
}

.btn:hover {
  background-color: #80B5AA;
  border-color: #80B5AA;
}

.btn:focus {
  background-color: #C4FCF0;
  border-color: #C4FCF0;
  color: #4D8076;
}

.vote-fade {
  color: #C4FCF0;
}

.vote {
  color: #4D8076;
}