{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
{% load static %}

{% for coin in coin_display %}

    
    <img src="{{ coin.image_url }}" alt="">
    {{ coin.coin_name }}
    {{ coin.coin_price }}
    {{ coin.market_cap }}
    {{ coin.rank }}
    {{ coin.price_change }}


    {% if user.is_authenticated %}
    
        <form action="" method="POST">
            {{ post_form | crispy }}
            {% csrf_token %}
            <input type="hidden" id="coin_name" name="coin_name" value="{{ coin.coin_id }}">
            <button type="submit">Submit</button>
        </form>

    {% endif %}
    
    

{% endfor %}


{% for i in post %}


<div class="col-md-8">
    <div class="card-body">
        <h3>{{ i.title }}</h3>
        <p>ID:{{ i.id }}</p> 
        <p>Slug:{{ i.slug }}</p>  
        <p>{{ i.content }}</p>
        <p>Posted by:{{ i.user }}</p>        
        <p>{{ i.created_on }}</p>
        <a class="nav-link active" aria-current="page" href="{% url 'coin_detail' i.slug %}">Comments</a>
        <i class="fas fa-arrow-alt-circle-up upvote-click" data-post="{{ i.id }}"></i>
        <strong class="vote-count-{{ i.id }}"></strong><i class="fas fa-arrow-alt-circle-down downvote-click" data-post="{{ i.id }}"></i>        

    </div>
</div>
    


{% endfor %}

<script>
    $(document).ready(function(){
        
        $(".upvote-click").click(function() {
            let postid = $(this).data('post');

            $.ajax({
                url: 'upvote/',
                type: 'post',
                data:{
                    postid: postid,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                dataType:'json',
                success: function(response){
                    let count = response.count
                    $(".vote-count-"+postid).html(count);
                    console.log(count);
                }
            });
        });

        $(".downvote-click").click(function() {
            let postid = $(this).data('post');

            $.ajax({
                url: 'downvote/',
                type: 'post',
                data:{
                    postid: postid,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                dataType:'json',
                success: function(response){
                    let count = response.count
                    $(".vote-count-"+postid).html(count);
                    console.log(count);
                }
            });
        });
    });

</script>

{% endblock content %}